{% if app.session is defined %}
{% set messages = app.session.flashbag.all() %}

{% if messages | length %}
<div id="messages" class="container">
    <div class="row">
        <div class="col">
            {% for type, alerts in messages %}
                <div class="flash alert alert-{{ type }}">
                    {% for alert in alerts %}
                    <p>{{ alert | raw }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endif %}
