{% extends 'page.default.twig' %}

{% block title %}{{ parent() }} &middot; Call for Art & Artists{% endblock %}

{% block main %}
<div class="content">
    <div class="container pt-4">
        <h1 class="display-1">Vision 20/20</h1>
        {% markdown %}
        ## Burien Arts Association’s 11th Annual Fundraiser

        _Vision 20/20_ is an art exhibition and fundraiser for Burien Arts Association. Proceeds will aid in Burien Arts’s mission to bring quality, affordable art experiences to our community. This event consists of fifty artists producing nine new and unique works of art on 8 x 8 inch panels provided by Burien Arts in a medium of their choosing (sorry, no photography).

        The exhibition will take place on November 17, 2018, an annual event which usually draws 300+ patrons. Each piece is sold for $40 with 50/50 commission between the artist and Burien Arts. Artists can also submit existing works that will be sold in a silent auction, with the same terms. Any unsold art will be returned to the artist at the conclusion of the event.

        Interested artists should fill out the [submission form](/2018/submit) which will be reviewed by a jury of Burien Arts Board Members and Volunteers. 

        Photos from last year’s event can be found on our website: [www.burienarts.org](http://www.burienarts.org). 

        Please let us know if you have any questions.  [vision2020.ba@gmail.com](mailto:vision2020.ba@gmail.com)

        What: Burien Arts Vision 20/20 Show and Sale<br>
        When: November 17, 2018, 6:30 - 10:30pm<br>
        Where: Burien Community Center, 14700 6th Ave SW, Burien, WA<br>
        Why: Benefit the ongoing visual and performing arts programs put on by Burien Arts<br>
        Who: Burien Arts is a non-profit community Arts Organization founded in the early 1960’s with the Mission to engage, enrich and entertain the Burien community through creative, innovative arts programming that is accessible and affordable to all. More information can be found on the Burien Arts web site: [www.burienarts.org](http://www.burienarts.org)

        ### Timeline

        - **June 15:** Call for Art <span class="amp">&</span> Artists opens
        - **July 31:** Call for Artists (panels) closes
        - **August 24:** Notification of accepted status goes out
        - **Starting August 24:** Artist Orientation Meetings
        - **August 24:** Panel Distribution Begins
        - **October 17:** Call for Art (auction) closes
        - **November 17:** Panel <span class="amp">&</span> Art Drop-off and Vision 20/20 Event

        {% endmarkdown %}
    </div>
</div>
{% endblock %}
