{% extends 'page.default.twig' %}


{% block main %}
<div class="content">
    <div class="container">
        <h1 class="display-1">Hello!</h1>
        <p class="lead">It's working.</p>
    </div>
</div>
{% endblock %}
