{% extends 'page.default.twig' %}

{% block main %}
<div class="content">
    <div class="container pt-4">
        <h1 class="display-1">Vision 20/20</h1>
        {% markdown %}
        ## Burien Arts Association’s 11th Annual Fundraiser

        November 17, 2018<br>
        Burien Community Center, 14700 6th Ave SW, Burien, WA

        _Vision 20/20_ is an art exhibition and fundraiser for Burien Arts Association. Proceeds will aid in Burien Arts’s mission to bring quality, affordable art experiences to our community. This event consists of fifty artists producing nine new and unique works of art on 8 x 8 inch panels provided by Burien Arts in a medium of their choosing. 

        The Call for Artists to create panels for this event closes July 16.

        Burien Arts is a community Arts Organization founded in the early 1960’s with the Mission to engage, enrich and entertain the Burien community through creative, innovative arts programming that is accessible and affordable to all. More information can be found on the Burien Arts web site: [www.burienarts.org](http://www.burienarts.org)

        Please let us know if you have any questions.  [vision2020.ba@gmail.com](mailto:vision2020.ba@gmail.com)
        {% endmarkdown %}

        <p>
            <a href="/2018/call-for-art-and-artists" class="btn btn-lg btn-success">Call for Art <span class="amp">&</span> Artists</a>
            <a href="/2018/submit" class="btn btn-lg btn-success">Submit Entries</a>
        </p>

        <div class="alert alert-info">
            The Call for Artists has been extended from July 16 to July 31
        </div>

        {% markdown %}
        ### Timeline

        - **June 15:** Call for Art <span class="amp">&</span> Artists opens
        - **July 31:** Call for Artists (panels) closes
        - **August 24:** Notification of accepted status goes out
        - **Starting August 24:** Artist Orientation Meetings
        - **August 24:** Panel Distribution Begins
        - **October 17:** Call for Art (auction) closes
        - **November 17:** Panel <span class="amp">&</span> Art Drop-off and Vision 20/20 Event

        {% endmarkdown %}
    </div>
</div>
{% endblock %}
