{% extends 'page.jury.twig' %}


{% block main %}
<div class="content pt-4">
    <div class="container">
        {% include 'partials/jury/submissions/panels.twig' %}
    </div>
</div>
{% endblock %}

