{% extends 'page.default.twig' %}

{% block title %}{{ parent() }} &middot; Submit{% endblock %}

{% block main %}
<div class="content">
    <div class="container pt-4">
        <h2>Vision 20/20 &middot; 2018</h2>
        <h1>Call for Art <span class="amp">&</span> Artists Submissions</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-info">
                    <h4 class="alert-heading">Submissions Closed</h4>

                    <p class="mb-0">Submissions are now closed for 2018. If you are an accepted artist and
                        still wish to enter pieces for the auction, please contact your
                        Artist Liasons for next steps.</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
