RewriteEngine on

RewriteCond %{HTTP_HOST} ^vision2020.loveburien.com
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L,QSA]
